<body>

    <h3>What is Graph Data Science?</h3>

    <p>Bla bla...</p>

    <h3>Research challenges</h3>

    <p>Bla bla...</p>

    <h3>Available Graph Algorihtms</h3>

    <p>Bla bla...</p>

    <h3>Graph data models</h3>

    <h3>(Labeled) Property Graphs</h3>

    <p>Available Graph databases: <a
        href="https://db-engines.com/en/ranking/graph+dbms" target="_blank" rel="noopener noreferrer">https://db-engines.com/en/ranking/graph+dbms</a></p>

    <h3>RDF knowledge graphs</h3>

    <p>Available RDF databases: <a
        href="https://db-engines.com/en/ranking/rdf+store" target="_blank" rel="noopener noreferrer">https://db-engines.com/en/ranking/rdf+store</a></p>

    <h3>Available toolkits</h3>

    <table>
      <tr>
        <th style="text-align:left">Tool</th>
        <th width="30%" style="text-align:left">Description</th>
        <th style="text-align:left">Graph model</th>
        <th style="text-align:left">Supported programming languages</th>
        <th style="text-align:left">Technology dependencies</th>
        <th style="text-align:left">License</th>
        <th style="text-align:left">Latest release year</th>
      </tr>
      <tr>
        <td><a href="https://github.com/graphframes/graphframes" target="_blank" rel="noopener noreferrer">GraphFrames</a>
        </td>
        <td>GraphFrames is a package for Apache Spark which provides DataFrame-based Graphs. It provides high-level APIs
          in Scala, Java, and Python. It aims to provide both the functionality of GraphX and extended functionality
          taking advantage of Spark DataFrames. This extended functionality includes motif finding, DataFrame-based
          serialization, and highly expressive graph queries.</td>
        <td>Graph model</td>
        <td>
          <ul>
            <li>Scala</li>
            <li>Java</li>
            <li>Python</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Apache Spark 2.4+</li>
          </ul>
        </td>
        <td>Apache License 2.0</td>
        <td>2020</td>
      </tr>
      <tr>
        <td><a href="https://pypi.org/project/rdfframes/" target="_blank" rel="noopener noreferrer">RDFframes</a></td>
        <td>Description</td>
        <td>RDF graph</td>
        <td>
          <ul>
            <li>Python</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>RDF store</li>
            <li>SPARQL endpoint</li>
          </ul>
        <td>MIT License (MIT)</td>
        <td>2020</td>
      </tr>
      <tr>
        <td><a href="https://spark.apache.org/graphx/" target="_blank" rel="noopener noreferrer">Apache Spark GraphX</a></td>
        <td>GraphX unifies ETL, exploratory analysis, and iterative graph computation within a single system. GraphX
          comes with a variety of graph algorithms.</td>
        <td>Property graph</td>
        <td>
          <ul>
            <li>Scala</li>
          </ul>
        </td>
        <td></td>
        <td>Apache License 2.0</td>
        <td>2021</td>
      </tr>
      <tr>
        <td><a href="https://neo4j.com/product/graph-data-science-library/" target="_blank" rel="noopener noreferrer">Neo4j Graph Data Science Library</a></td>
        <td>Description</td>
        <td>Property graph</td>
        <td>
          <ul>
            <li>Java</li>
            <li>Python</li>
        </ul>
        <td><ul><li>Neo4j</li></ul></td>
        <td>
          <ul>
            <li><a href="https://github.com/neo4j/graph-data-science" target="_blank" rel="noopener noreferrer">Community Edition</a> released under GPL3</li>
            <li>Enterprise Edition is licensed separately</li>
          </ul>
        </td>
        <td>2021</td>
      </tr>
    </table>

    <h3>Graph AI/ML Pipeline</h3>

    <p>Bla bla...</p>

</body>