<!DOCTYPE html>
<html>

<body>

  <h1>Agile AI Frameworks</h1>

  <h2>Why agile for AI projects?</h2>

  <p>Bla bla...</p>

  <a routerLink="/agile-best-practices/why-agile"><img src="assets/img/why-agile-ai.png" height="100"></a>

  <h2>Overview of agile AI frameworks</h2>

  <p>While agile software frameworks such as Scrum have become the de facto way of developing and delivering software
    today, these frameworks do not necessarily translate well when applied to data science projects. There is a
    fundamental difference between delivering <i>software products</i> and delivering <i>actionable insights from
      data</i> as project results. To support data science projects, new agile frameworks have emerged and some existing
    agile frameworks have been adjusted accordingly. Today a few agile AI frameworks exists.</p>

  <a routerLink="/agile-best-practices/data-science-research-dev"><img src="assets/img/data_science_research_development.png"
      height="300"></a>
  <a routerLink="/agile-best-practices/data-driven-scrum"><img src="assets/img/data_driven_scrum.png" height="300"></a>
  <a routerLink="/agile-best-practices/microsoft-tdsp"><img src="assets/img/microsoft_tdsp.png" height="300"></a>
  <a routerLink="/agile-best-practices/crisp-dm"><img src="assets/img/crisp-dm.png" height="300"></a>
  <a routerLink="/agile-best-practices/cpmai"><img src="assets/img/cpmai.png" height="300"></a>

  <h2>Selecting an AI framework for your project</h2>

  <p>Bla bla...</p>

  <a routerLink="/agile-best-practices/comparison-table"><img src="assets/img/framework-comparison-table.png" height="200"></a>

</body>

</html>