<!DOCTYPE html>
<html>

<body>

  <h3>Why agile for AI projects?</h3>

  <p>Agile software development was popularized by the <a href="https://agilemanifesto.org/">Agile Manifesto</a> as a
    backlash to the heavyweight <a href="https://en.wikipedia.org/wiki/Waterfall_model">waterfall-like
      methodologies</a>. Agile prescribes a lightweight and more flexible approach to delivering software through
    iterations and increments.</p>

  <p>While agile software frameworks such as <a href="https://www.scrum.org/resources/what-is-scrum/">Scrum</a> have
    become the de facto way of developing and delivering software today, these frameworks do not necessarily translate
    well when applied to data science projects. There is a
    fundamental difference between delivering <i>software products</i> and delivering <i>actionable insights from
      data</i> as project results.</p>

  <p>However, many agile principles still applies and are advantageous for data science projects:</p>

  <ul>
    <li><b>Evolving requirements:</b> Business owners and data scientists agree on high-level requirements early and
      and keep reviewing them as the project grows.</li>
    <li><b>Increments and iterations:</b> Data scientists produces evolving models and releases that are very
      user-focused.</li>
    <li><b>Customer involvement:</b> Customer gains a stronge sense of ownership being directly involved with the
      development team.</li>
  </ul>

  <p>To support data science projects, new agile frameworks have emerged and some existing
    agile frameworks have been adjusted accordingly.</p>

  <h3 class="padding-top">Overview of agile AI frameworks</h3>

  <p>Today a few agile AI frameworks exists:</p>
  <p></p>
  <a routerLink="/agile-best-practices/data-science-research-dev"><img src="assets/img/data_science_research_development.png"
      height="300"></a>
  <a routerLink="/agile-best-practices/data-driven-scrum"><img src="assets/img/data_driven_scrum.png" height="300"></a>
  <a routerLink="/agile-best-practices/microsoft-tdsp"><img src="assets/img/microsoft_tdsp.png" height="300"></a>
  <a routerLink="/agile-best-practices/crisp-dm"><img src="assets/img/crisp-dm.png" height="300"></a>
  <a routerLink="/agile-best-practices/cpmai"><img src="assets/img/cpmai.png" height="300"></a>

  <h3 class="padding-top">Selecting an AI framework for your project</h3>

  <p>Bla bla...</p>

  <a routerLink="/agile-best-practices/comparison-table"><img src="assets/img/framework-comparison-table.png" height="200"></a>

</body>

</html>