<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm" class="is-inverse"></clr-icon>
        <span class="title">Agile Framework for AI and ML Software Development</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="..." class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>

  <div class="navbar">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>About this website</button>
        <clr-tab-content *clrIfActive="true">
          <h4>Agile Development of Explainable AI Solutions</h4>
          <div class="text">
            <div class="content-area">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Non enim praesent elementum facilisis leo vel fringilla. Euismod elementum nisi quis eleifend quam
                adipiscing vitae proin. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Dolor magna
                eget est lorem ipsum dolor sit amet consectetur. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.
                Volutpat commodo sed egestas egestas. Pharetra sit amet aliquam id diam maecenas ultricies mi. Pulvinar etiam
                non quam lacus suspendisse faucibus interdum posuere. Viverra nibh cras pulvinar mattis nunc sed blandit libero
                volutpat.
              </p>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-lg-10 clr-col-md-8 clr-col-12">
              <div class="card">
                <div class="card-header">
                  Header
                </div>
                <div class="card-block">
                  <div class="card-title">
                    Block
                  </div>
                  <div class="card-text">
                    ...
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-link">Take me to the Framework</button>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-lg-10 clr-col-md-8 clr-col-12">
              <div class="card">
                <div class="card-header">
                  Header
                </div>
                <div class="card-block">
                  <div class="card-title">
                    Block
                  </div>
                  <div class="card-text">
                    ...
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-link">Take me to the Resources</button>
                </div>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>

        <button clrTabLink>Agile Framework for Explainable AI Pipelines</button>
        <clr-tab-content *clrIfActive>

          <h4>Agile Development of Explainable AI Solutions</h4>

          <div>
            <ul class="clr-timeline clr-timeline-horizontal">
              <li class="clr-timeline-step">
                <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Start</span>
                  <span class="clr-timeline-step-description">Root CA certificate requested.</span>
                </div>
              </li>
              <li class="clr-timeline-step">
                <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Add KMS</span>
                  <span class="clr-timeline-step-description">
                    Root CA certificate requested. Upload it to the KMS to complete the connection.
                  </span>
                </div>
              </li>
              <li class="clr-timeline-step">
                <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Make vCenter trust KMS</span>
                  <span class="clr-timeline-step-description">
                    Root CA certificate requested. Upload it to the KMS to complete the connection. Third sentence is very long
                    and very long.
                  </span>
                </div>
              </li>
              <li class="clr-timeline-step">
                <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Make KMS trust vCenter</span>
                  <span class="clr-timeline-step-description">Upload it to the KMS to complete the connection. Third
                    sentence.
                  </span>
                </div>
              </li>
              <li class="clr-timeline-step">
                <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
                <div class="clr-timeline-step-body">
                  <span class="clr-timeline-step-title">Completed</span>
                  <span class="clr-timeline-step-description">Successfully completed</span>
                </div>
              </li>
            </ul>
          </div>
          
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Explainable AI Resources</button>
        <clr-tab-content *clrIfActive>
          <h3>Select a Machine Learning Interpretability Method</h3>
          <div class="btn-group">
            <div class="radio btn">
              <input type="radio" name="btn-group-demo-radios" id="btn-blackbox" (change)="handleButtonChange($event)" checked />
              <label for="btn-blackbox">Black Box</label>
            </div>
            <div class="radio btn">
              <input type="radio" name="btn-group-demo-radios" id="btn-whitebox" />
              <label for="btn-whitebox">White Box</label>
            </div>
            <div class="radio btn">
              <input type="radio" name="btn-group-demo-radios" id="btn-fairness" />
              <label for="btn-fairness">Enhance Fairness of Model</label>
            </div>
            <div class="radio btn">
              <input type="radio" name="btn-group-demo-radios" id="btn-sensitivity" />
              <label for="btn-sensitivity">Test Sensitivity of Predictions</label>
            </div>
          </div>
          <div class="content-container">
                <clr-datagrid class="datagrid-compact" [clrDgSingleSelected]="selected" (clrDgSingleSelectedChange)="selectionChanged($event)">
                  <clr-dg-column>Resource</clr-dg-column>
                  <clr-dg-column>Resource Type</clr-dg-column>
                  <clr-dg-column>Data Type</clr-dg-column>
                  <clr-dg-column>Year</clr-dg-column>
                  <clr-dg-column>Citations</clr-dg-column>
                  <clr-dg-column>Category</clr-dg-column>
                  <clr-dg-column>Local or Global</clr-dg-column>
                  <clr-dg-column>Model Specific or Agnostic</clr-dg-column>
                
                  <clr-dg-row *clrDgItems="let res of selfdescription" [clrDgItem]="res">
                    <clr-dg-cell>{{res.resource}}</clr-dg-cell>
                    <clr-dg-cell>{{getResourceType(res.resourceType)}}</clr-dg-cell>
                    <clr-dg-cell>{{getDataType(res.dataTypes)}}</clr-dg-cell>
                    <clr-dg-cell>{{res.year}}</clr-dg-cell>
                    <clr-dg-cell>{{res.citationsPerYear}}</clr-dg-cell>
                    <clr-dg-cell>{{getPurposeOfInterpretability(res.purposeOfInterpretability)}}</clr-dg-cell>
                    <clr-dg-cell>{{getLocalOrGlobal(res.localOrGlobal)}}</clr-dg-cell>
                    <clr-dg-cell>{{getModelSpecificOrAgnostic(res.modelSpecificOrAgnostic)}}</clr-dg-cell>
                  </clr-dg-row>
                  <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="6">
                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{selfdescription.length}} resources
                    </clr-dg-pagination>
                  </clr-dg-footer>
                </clr-datagrid>
          </div>
          <div class="content-container">
              <div class="card" *ngIf="selected">
                <div class="card-header">
                  {{selected.resource}}
                </div>
                <div class="card-block">
                  <div class="card-title">
                    Available resources
                  </div>
                  <div class="card-text">
                    <div class="flex-container">
                      <div>Paper: <a href="{{selected.sourceURL}}" target="_blank">{{selected.sourceURL}}</a></div>
                      <div>Repository: <a href="{{selected.repositoryUrl}}" target="_blank">{{selected.repositoryUrl}}</a></div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="content-container">
            <div class="card" *ngIf="selected">
              <div class="card-header">
                Definitions
              </div>
              <div class="card-block">
                <div class="card-text" *ngIf="selected">
                  <div class="flex-container">
                    <div class="listitem">
                      <b>{{definitions.blackBox.title}}: </b>{{definitions.blackBox.definition}}
                    </div>
                    <div class="listitem">
                      <b>{{definitions.localOrGlobal.title}}: </b>{{definitions.localOrGlobal.definition}}
                    </div>
                    <div>
                      <b>{{definitions.modelSpecificOrAgnostic.title}}: </b>{{definitions.modelSpecificOrAgnostic.definition}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Agile Best Practices</button>
        <clr-tab-content *clrIfActive>
          <div class="content-container">
            <div class="content-area"></div>
            <nav class="sidenav">
                <section class="sidenav-content">
                    <section class="nav-group collapsible">
                        <input id="tabexample1" type="checkbox" checked>
                        <label for="tabexample1">Starts collapsed</label>
                        <ul class="nav-list">
                            <li><a class="nav-link">Link 1</a></li>
                            <li><a class="nav-link">Link 2</a></li>
                            <li><a class="nav-link">Link 3</a></li>
                        </ul>
                    </section>
                    <section class="nav-group collapsible">
                        <input id="tabexample2" type="checkbox">
                        <label for="tabexample2">Starts expanded</label>
                        <ul class="nav-list">
                            <li><a class="nav-link">Link 1</a></li>
                            <li><a class="nav-link">Link 2</a></li>
                            <li><a class="nav-link">Link 3</a></li>
                        </ul>
                    </section>
                </section>
            </nav>
          </div>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>