<!DOCTYPE html>
<html>
<body>

<h1>Selecting an AI framework for your project</h1>

<p>Bla bla...</p>

<h2>Comparison table</h2>

<table style="width:100%" border="1">
  <tr>
    <th style="text-align:left">Feature / Framework</th>
    <th style="text-align:left"><img src="assets/img/data_science_research_development.png" height="300"></th>
    <th style="text-align:left"><img src="assets/img/data_driven_scrum.png" height="300"></th>
    <th style="text-align:left"><img src="assets/img/microsoft_tdsp.png" height="300"></th>
    <th style="text-align:left"><img src="assets/img/crisp-dm.png" height="300"></th>
    <th style="text-align:left"><img src="assets/img/cpmai.png" height="300"></th>
  </tr>
  <tr>
    <th style="text-align:left">Project size (team size)</th>
    <td>Small (1-3 persons)</td>
    <td>Small (3-9 persons)</td>
    <td>Small-Large</td>
    <td>Medium-Large</td>
    <td>Medium-Large</td>
  </tr>
  <tr>
    <th style="text-align:left">Artefact maturity</th>
    <td>Experiment</td>
    <td>Project</td>
    <td>Project</td>
    <td>Flagship</td>
    <td>Flagship</td>
  </tr>
  <tr>
    <th style="text-align:left">Popularity</th>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <th style="text-align:left">Technology stack</th>
    <td>All</td>
    <td>All</td>
    <td>Microsoft Azure</td>
    <td>All</td>
    <td>All</td>
  </tr>
  <tr>
    <th style="text-align:left">Tool support</th>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
  </tr>
</table> 

<h3>Explanations</h3>

<li><b>Project size (team size):</b></li>
<li>...</li>

</body>
</html>
